<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    
    .alert{
      margin-top: 80px;
      width: 100vw;
      height: 200px; 
      position: absolute;
      left: 8%;
    transform: translateX(-50%);
    transform-origin: 0 0;
    text-align: center;
    transform: scale(0.90);

      }
      @media (min-width: 1450px) {
        .alert{
            left: 8%;
    transform: translateX(-50%);
    transform-origin: 0 0;
    text-align: center;
    transform: scale(1.10);
        }
    }
    @media (width<1450px) and   (width>1350px) {
        .alert{
            left: 8%;
            transform: translateX(-50%);
    transform-origin: 0 0;
    text-align: center;
    transform: scale(1.0);
        }
    }

  </style>
    <canvas id="hero"></canvas>
<div id="hero-text">
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
  
</div>
<header class="header" data-header>
  <div class="container">

    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>

      <ul class="navbar-list" >
        <li class="navbar-item" >
          <a href="home.html" class="navbar-link" data-nav-link >Home</a>
        </li>
        <li class="navbar-item">
          <a href="lecture.html" class="navbar-link" data-nav-link>Lectures</a>
        </li>
        <li class="navbar-item">
          <a href="book.html" class="navbar-link" data-nav-link>Notes</a>
        </li>
        <li class="navbar-item">
          <a href="#f" class="navbar-link" data-nav-link>Submissions</a>
        </li>
          
      </ul>
      
    </nav>
    
    <div class="header-action">
      <a href="logout.php" class="btn btn-primary has-after">Log Out</a>
    </div>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

    <div class="overlay" data-overlay data-nav-toggler></div>

  </div>
  <div class="wrapper">

  </div>
  <div class="alert">
    <ul class="create-ticker">
      <li>AIML EXP 4 NOT SUMBITTED 32 HRS 12 MINS 07 SECS</li>
      <li>SE EXP 4 NOT SUMBITTED 01 HRS 50 MINS 30 SECS</li>
      <li>DC EXP 4 NOT SUMBITTED 02 HRS 12 MINS 32 SECS</li>
      <li>CITL EXP 4 NOT SUMBITTED 03 HRS 02 MINS 32 SECS</li>
      <li>CITL EXP 2 NOT SUMBITTED 22 HRS 52 MINS 32 SECS</li>
      <li>CITL EXP 1 NOT SUMBITTED 65 HRS 32 MINS 03 SECS</li>
      <li>SE EXP 1 NOT SUMBITTED 00 HRS 00 MINS 00 SECS</li>
      <li>CITL EXP 4 NOT SUMBITTED 00 HRS 00 MINS 00 SECS</li>
  </ul>
  </div>
  
</header>
<script src="./ticker-board-main/ticker-board/dist/ticker-board.js"></script>
<script>
  new TickerBoard('.create-ticker');

    const cvs = document.querySelector("canvas");
const c = cvs.getContext("2d");

cvs.width = window.innerWidth;
cvs.height = window.innerHeight;

window.addEventListener("resize", function() {
  cvs.width = window.innerWidth;
  cvs.height = window.innerHeight;
});

let mouse = {
  x: undefined,
  y: undefined
};

window.addEventListener("mousemove", function(e) {
  mouse.x = event.x;
  mouse.y = event.y;
});


class Diamond {
  constructor(x, y, dx, dy, width) {
    this.x = x;
    this.y = y;
    this.dx = dx;
    this.dy = dy;
    this.width = width;
    this.minWidth = width*0.15;
    this.maxWidth = width*0.5 ;

    let colorArray = ["#ffffff", "rgb(119, 0, 255)"];

    this.color = colorArray[Math.floor(Math.random() * colorArray.length)];
  }

  draw = () => {
    c.beginPath();
    c.moveTo(this.x, this.y);
    c.lineTo(this.x - this.width / 2, this.y);
    c.lineTo(this.x, this.y + this.width / 2);
    c.lineTo(this.x + this.width / 2, this.y);
    c.lineTo(this.x, this.y - this.width / 2);
    c.lineTo(this.x - this.width / 2, this.y);
    c.closePath();

    c.fillStyle = this.color;
    c.fill();

    this.update();
  };

  update = () => {
    if (
      this.x + this.width / 2 >= window.innerWidth ||
      this.x - this.width / 2 <= 0
    ) {
      this.dx = -this.dx;
    }

    if (
      this.y + this.width / 2 >= window.innerHeight ||
      this.y - this.width / 2 <= 0
    ) {
      this.dy = -this.dy;
    }

    this.x += this.dx;
    this.y += this.dy;

    // interactivity
    if (
      mouse.x - this.x < 80 &&
      mouse.x - this.x > -80 &&
      mouse.y - this.y < 80 &&
      mouse.y - this.y > -80 &&
      this.width < this.maxWidth
    ) {
      this.width += 1;
      this.x -= 1;
      this.y -= 1;
    } else if (this.width > this.minWidth) {
      this.width -= 1;
      this.x += 1;
      this.y += 1;
    }
  };
}

let diamondArray = [];

for (let i = 0; i < 400; i++) {
  let width = Math.random() * 20 + 4;
  let x = Math.random() * window.innerWidth;
  let dx = (Math.random() - 0.5) * 1;
  let y = Math.random() * window.innerHeight;
  let dy = (Math.random() - 0.5) * 1;
  diamondArray.push(new Diamond(x, y, dx, dy, width));
}

function animate() {
  requestAnimationFrame(animate);
  c.clearRect(0, 0, window.innerWidth, window.innerHeight);

  diamondArray.forEach(diamond => {
    diamond.draw();
  });
}

animate();
</script>
</body>
</html>