<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    main .subjects{
      grid-template-columns: repeat(2, 1fr);
    }
    main{
      width: 90vw;
      border-left: 5vw;
      border-right: 5vw;
    }
  </style>
  <header>
    <div class="navbar">
        <a href="index.html" class="active">
            <span class="material-icons-sharp">home</span>
            <h3>Home</h3>
        </a>
        <a href="timetable.html" onclick="timeTableAll()">
            <span class="material-icons-sharp">today</span>
            <h3>Time Table</h3>
        </a> 
        <a href="ass.html">
            <span class="material-icons-sharp">assignment</span>
            <h3>Assignment</h3>
        </a>
        <a href="lecture.html">
          <span class="material-icons-sharp">video_library</span>
          <h3>Lectures</h3>
      </a>
        
        <a href="book.html">
            <span class="material-icons-sharp">books</span>
            <h3>Books</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp" onclick="">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
    <div id="profile-btn" style="display: none;">
        <span class="material-icons-sharp">person</span>
    </div>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
</header>
<div class="container" >
  <main>
    <h1>Subjects</h1>
    <div class="subjects">
        <div class="eg">
            <span class="material-icons-sharp">architecture</span>
            <h3>Engineering Graphics</h3>
            <h2>12/14</h2>
            <div class="progress">
                <svg><circle cx="38" cy="38" r="36"></circle></svg>
                <div class="number"><p>86%</p></div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>
        <div class="mth">
            <span class="material-icons-sharp">functions</span>
            <h3>Mathematical Engineering</h3>
            <h2>27/29</h2>
            <div class="progress">
                <svg><circle cx="38" cy="38" r="36"></circle></svg>
                <div class="number"><p>93%</p></div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>
        <div class="cs">
            <span class="material-icons-sharp">computer</span>
            <h3>Computer Architecture</h3>
            <h2>27/30</h2>
            <div class="progress">
                <svg><circle cx="38" cy="38" r="36"></circle></svg>
                <div class="number"><p>81%</p></div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>
        <div class="cg">
            <span class="material-icons-sharp">dns</span>
            <h3>Database Management</h3>
            <h2>24/25</h2>
            <div class="progress">
                <svg><circle cx="38" cy="38" r="36"></circle></svg>
                <div class="number"><p>96%</p></div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>
        <div class="net">
            <span class="material-icons-sharp">router</span>
            <h3>Network Security</h3>
            <h2>25/27</h2>
            <div class="progress">
                <svg><circle cx="38" cy="38" r="36"></circle></svg>
                <div class="number"><p>92%</p></div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>
    </div>
</div>
<script src="app.js"></script>
<script>
  document.querySelector('.wrapper').addEventListener('click', function() {
      window.location.href = 'vid.html';
  });
</script>
</body>
</html>