<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timetable</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <style>
        .examtt{
            margin-top: 5%;
        }
    </style>
    <header>
        <div class="navbar">
            <a href="/home" class="active">
                <span class="material-icons-sharp">home</span>
                <h3>Home</h3>
            </a>
            <a href="/timetable" onclick="timeTableAll()">
                <span class="material-icons-sharp">today</span>
                <h3>Time Table</h3>
            </a> 
            <a href="/ass">
                <span class="material-icons-sharp">assignment</span>
                <h3>Assignment</h3>
            </a>
            <a href="/lec">
              <span class="material-icons-sharp">video_library</span>
              <h3>Lectures</h3>
          </a>
            <a href="/book">
                <span class="material-icons-sharp">books</span>
                <h3>book</h3>
            </a>
            <a href="/logout">
                <span class="material-icons-sharp" onclick="">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
        <div id="profile-btn" style="display: none;">
            <span class="material-icons-sharp">person</span>
        </div>
        <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
        </div>
        
    </header>
<div class="container">
    <main>
        <div class="timetable active" id="timetable">
            <div>
                <span id="prevDay">&lt;</span>
                <h2>Today's Timetable</h2>
                <span id="nextDay">&gt;</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room No.</th>
                        <th>Subject</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="examtt">
                <h2>Upcoming Examinations</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Subject</th>
                            <th>Room no.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13 May 2022</td>
                            <td>09-12 AM</td>
                            <td>CS200</td>
                            <td>38-718</td>
                        </tr>
                        <tr>
                            <td>16 May 2022</td>
                            <td>09-12 AM</td>
                            <td>DBMS130</td>
                            <td>38-718</td>
                        </tr>
                        <tr>
                            <td>18 May 2022</td>
                            <td>09-12 AM</td>
                            <td>MTH166</td>
                            <td>38-718</td>
                        </tr>
                        <tr>
                            <td>20 May 2022</td>
                            <td>09-12 AM</td>
                            <td>NS200</td>
                            <td>38-718</td>
                        </tr>
                        <tr>
                            <td>23 May 2022</td>
                            <td>09-12 AM</td>
                            <td>CS849</td>
                            <td>38-718</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>
</div>
    

</body>

<script src="../static/timeTable.js"></script>
<script src="../static/app.js"></script>
</html>