<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    main{
      display: flex;
    }
  #main-article iframe{
    width:70vw;
    height: 75vh;
 }
  #sidebar {
      width: fit-content;
      height: fit-content;   
margin-left: 10%;
 }
 #slider-article iframe{
  width:24vw;
    height: 25vh;
 }
  #main-article,#sidebar{
  display: inline-block;
 }
iframe{
  border-radius: 20px;
}
  </style>
  <header > 
    <div class="navbar">
        <a href="index.html" class="active">
            <span class="material-icons-sharp">home</span>
            <h3>Home</h3>
        </a>
        <a href="timetable.html" onclick="timeTableAll()">
            <span class="material-icons-sharp">today</span>
            <h3>Time Table</h3>
        </a> 
        <a href="ass.html">
            <span class="material-icons-sharp">assignment</span>
            <h3>Assignment</h3>
        </a>
        <a href="lecture.html">
          <span class="material-icons-sharp">video_library</span>
          <h3>Lectures</h3>
      </a>
        
        <a href="book.html">
            <span class="material-icons-sharp">books</span>
            <h3>Books</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp" onclick="">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
    <div id="profile-btn" style="display: none;">
        <span class="material-icons-sharp">person</span>
    </div>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
</header>

<div class="container" >
  <main>
      <article id="main-article" >  
        <section style="text-align: center;width:100%;"><iframe width="560" height="315" src="https://www.youtube.com/embed/vhfRArT11jc?si=-eWCbygSg45EwEb1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></section> 
          <h1> Social Networking Project     </h1>
          <section> I have created Small Project based on Social networking site. You can check out the demo at www.wayplus.url.ph . Also you can share your Thoughts on this.
          This PHP project is an example of functionality of dynamic pages using php source code.Throughout this project JavaScript is used for validations be it simple one or complex.Facebook is a software for social networking media.
          social network services used primarily for helping users to find specific information or resources (e.g., Goodreads for books)
          </section>  
      </article>

      <aside id='sidebar' >

        <article id="slider-article">
          <section ><iframe width="560" height="315" src="https://www.youtube.com/embed/tvAh0JZF2YE?si=-8wO2oXrI-FgC9li" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </section>  
        </article>

        <article id="slider-article">
          <section > <iframe width="560" height="315" src="https://www.youtube.com/embed/7lcwlNNCP1E?si=HuVu6uV2OsfD-xJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </section>  
        </article> 

        <article id="slider-article">
          <section ><iframe width="560" height="315" src="https://www.youtube.com/embed/_uQrJ0TkZlc?si=KveJ27rDIqpNuJc7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></section>  
        </article> 
    
        <article id="slider-article">
          <section > <iframe frameborder="0"  src="https://www.youtube.com/embed/4Gfk-Jt35gk" ></iframe> </section>  
        </article>  

        <article id="slider-article">
          <section ><iframe width="560" height="315" src="https://www.youtube.com/embed/tvAh0JZF2YE?si=-8wO2oXrI-FgC9li" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </section>  
        </article>

        <article id="slider-article">
          <section > <iframe width="560" height="315" src="https://www.youtube.com/embed/7lcwlNNCP1E?si=HuVu6uV2OsfD-xJg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </section>  
        </article> 

        <article id="slider-article">
          <section ><iframe width="560" height="315" src="https://www.youtube.com/embed/_uQrJ0TkZlc?si=KveJ27rDIqpNuJc7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></section>  
        </article> 
    
        <article id="slider-article">
          <section > <iframe frameborder="0"  src="https://www.youtube.com/embed/4Gfk-Jt35gk" ></iframe> </section>  
        </article>  

      </aside>
  </main>
</div>

<script src="app.js"></script>
</body>
</html>